.title{
    text-align: center;
    padding: 12% 10% 4% 10%;
    margin: 0;
    font-size: 3.5em;
    font-weight: bold;
    color: white;
}

body{
    margin: 0;
    font-family: Geneva, sans-serif;
    width: 100vw;
    background-image: url('images/background.jpg');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    overflow-x: hidden;
}

.link{
    background-color: #003060;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
    padding: 2px;
    width: auto;
}

.hyperlink{
    color: white;
    text-decoration: none;
}

.project{
    width: 25vw;
    flex: 1;
    vertical-align: top;
    padding: 0.8%;
    text-align: center;
    background-color: #3E35BC;
    margin: 20px;
}

.code{
    margin: auto;
    width: auto;
    padding: 0.5%;
    background-color: #3E35BC;
    text-align: left;
    font-size: 1.2em;
    overflow-x: auto;
    overflow-y: hidden;
}

.underline{
    text-decoration: underline;
}

.text{
    padding: 0% 19%;
    color: white;
    font-size: 1.2em;
    margin-bottom: 40px;
}

.back{
    background-color: #000076;
    opacity: 0.9;
    width: 100vw;
    height: 70px;
    position: absolute;
}

.front{
    width: 100vw;
    height: 65px;
    color: white;
    position: absolute;
}

.footelem{
    width: 32%; 
    float: left;
}

#logo{
    width: 4%; 
    margin-top: 0.2%; 
    text-align: left;
    float: left;
}

#clock{
    font-size: 1em; 
    margin-top: 0.6%; 
    text-align: right;   
    float: left;
}

.icon{
    font-size: 1.5em !important;   
}

#navbar{
    list-style-type: none;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 0;
    left: 2%;
    width: 100%;
}

.navelem{
    float: right;
    font-size: 1.1em;
    text-align: left;
    margin-top: 0.4%;
    margin-right: 1%;
}

.navelem a, .tutorials{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    
}

.navelem a:not(#clock a):hover, .dropdown-content a:hover{
    text-decoration: underline;
}

.dropdown{
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00254d;
}

.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.dropdown:hover .dropdown-content {
    display: block;
}